.DS_Store

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.lock.info

# Directories
.terraform/
terraform/.terraform
